<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rules of Love | Venus Frame</title>
</head>
<body>
  <% if (isDraw) { %>
  <h1>DRAW!</h1>
  <h2>Both players' win streaks stay the same</h2>
  <% } else { %>
  <h1><%= winner.username %> beat <%= loser.username %> with <%= winner.currentPlay %> </h1>
  <h2>Their win streak is now <%= winner.currentWinStreak + 1 %></h2>
  <% } %>
</body>
</html>
